<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/home-fragment :: home-head">

    <title>Client | Home</title><!-- themeforest:css -->

</head>

<body>
<div th:replace="fragments/home-fragment :: home-browser-upgrade">

</div>

<!-- Making stripe menu Start -->
<nav th:replace="fragments/home-fragment :: home-nav">
</nav>
<!-- Making stripe menu End -->

<div th:replace="fragments/home-fragment :: succes-flash-message"></div>
<div th:replace="fragments/home-fragment :: error-flash-message"></div>


<main class="overflow-hidden">

    <!-- Shop Hero Slider Start -->
    <section th:replace="fragments/home-fragment :: home-slider">
    </section>
    <!-- Shop Hero Slider End -->

    <!-- Deals Start -->
   <!-- <section th:replace="fragments/home-fragment :: home-deals"></section>-->
    <!-- Deals End -->

    <!-- Offers Start -->
    <!--<section th:replace="fragments/home-fragment :: home-offers"></section>-->
    <!-- Offers End -->

    <!-- Trending Products Start -->
    <section th:replace="fragments/home-fragment :: home-trending"></section>
    <!-- Trending Products End -->

    <!-- CTA Promo Start -->
    <!--<section th:replace="fragments/home-fragment :: home-cta-promo" ></section>-->
    <!-- CTA Promo End -->

    <!-- Promos Start -->
    <section th:replace="fragments/home-fragment :: home-promos" ></section>
    <!-- Promos End -->


    <!-- Banners Start -->
<!--    <section th:replace="fragments/home-fragment :: home-banner" ></section>-->
    <!-- Banners End -->

    <!-- Brands Start -->
<!--    <section th:replace="fragments/home-fragment :: home-brands"></section>-->
    <!-- Brands End -->

    <div th:replace="fragments/home-fragment :: home-relative-position">
    </div>

    <!-- Footer Start -->
    <footer th:replace="fragments/home-fragment :: home-footer">
    </footer>
    <!-- Footer Start -->

</main>

<!-- themeforest:js -->
<div th:replace="fragments/home-fragment :: home-scripts">
</div>

<!-- endinject -->
</body>
</html>